@{
    ViewData["Title"] = "About";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<br />

<h3 class="text-center">How does leasing work?</h3>
<br />


<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et nibh in dui volutpat tincidunt. Aenean ut ex eu est cursus sodales eu quis eros. Sed commodo elit leo, non tristique massa tempor vitae. Duis orci justo, feugiat at tempor sed, facilisis quis nunc. Integer ac commodo nulla. Sed interdum eros nisi, a mattis eros facilisis id. Morbi posuere varius leo sed condimentum. Vivamus et dolor viverra, egestas risus sit amet, tempor purus. Proin sollicitudin euismod purus vel luctus. Sed porta, mi et mattis rutrum, magna mi pulvinar mi, quis volutpat nisl metus at dui. Donec rutrum enim maximus ultricies porta. Aenean feugiat bibendum erat ac ultrices. Nam mollis rutrum scelerisque. Praesent lacus libero, tristique vestibulum tincidunt lobortis, tincidunt pretium sem. Aenean a turpis sed lectus tristique maximus ac ac nunc.</p>
<br />
<p>Mauris tincidunt erat quis felis consectetur, vitae ornare nulla viverra. Nullam ac massa viverra, laoreet mauris nec, posuere ligula. Sed eu tempor leo, nec convallis augue. Morbi dictum egestas commodo. In eget nisi libero. Suspendisse condimentum id nulla non porttitor. In euismod mattis mi a rutrum. In quis interdum risus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
<br />
<p>Etiam fringilla ipsum ipsum, a ullamcorper neque mattis a. Nam tincidunt, nibh ut tristique interdum, justo est viverra tortor, vitae tincidunt lectus libero accumsan velit. Praesent molestie lacinia laoreet. Nam luctus lacus sed risus vulputate, malesuada vestibulum dolor sagittis. Quisque magna lacus, lobortis ut auctor ut, accumsan a diam. Nam vitae nulla justo. Maecenas quis blandit enim, eget consequat sapien. Pellentesque dui dui, iaculis eget nisl quis, consectetur aliquam nibh. Curabitur maximus velit eget dui tempus ornare. Mauris hendrerit cursus felis, sit amet ornare eros faucibus et. Nunc cursus felis non tortor pretium iaculis. Fusce vel aliquet neque, id condimentum sapien.</p>
